.form-div {
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: stretch;
align-content: stretch;
}

.section-title {
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: stretch;
align-content: stretch;
}

.submit-button {
  padding-top: 5px;
  display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: stretch;
align-content: stretch;
justify-content: flex-end;
}
